.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1{
    color: rgb(9, 9, 9);   
    font-size: 50px; 
    font-weight: 600;
}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;
    border: 1px solid rgb(9, 9, 9);
}

.collections{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top: 50px;
    /* gap: 30px; */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .collections {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .collections {
        grid-template-columns: 1fr 1fr;
        /* gap: 20px; */
    }
}

@media screen and (max-width: 480px) {
    .new-collections h1 {
        font-size: 40px;
    }

    .new-collections hr {
        width: 150px;
        height: 4px;
    }

    .collections {
        grid-template-columns: 1fr;
        /* gap: 15px; */
    }
}

