.cartitems{
    margin:100px 170px;
}

.cartitems hr{
    height: 3px;
    background-color: #f5f5f5;
    border: none;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap:75px;
    padding:20px 0px;
    color:#454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size:17px;
    font-weight: 500;
}

.carticon-product-icon{
    height:65px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height:50px;
    border:2px solid #f5f5f5;
    background: #fff;
    color: #000;
}

.cartitems-down{
    display: flex;
    margin:100px 0px;
}

.cartitems-total{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-right:200px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding:15px 0px;
}

.cartitems-total button{
    width: 262px;
    height:58px;
    outline:none;
    border:none;
    background-color: #f0c14b;
    color:#111;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.cartitems-promocode{
    flex:1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height:58px;
    background: #eaeaea;
}

.cartitems-promobox input{
    width: 330px;
    height: 50px;
    border:none;
    outline:none;
    background:transparent;
}

.cartitems-promobox button{
    width: 170px;
    height: 58px;
    background: #111;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .cartitems {
        margin: 80px 100px;
    }

    .cartitems-format-main {
        gap: 50px;
    }

    .cartitems-remove-icon {
        margin: 0 20px;
    }

    .cartitems-total {
        margin-right: 100px;
    }

    .cartitems-total button {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .cartitems {
        margin: 50px 5%;
    }

    .cartitems-format-main {
        grid-template-columns: 1fr 2fr 1fr 1fr;
        gap: 10px;
    }

    .cartitems-remove-icon {
        margin: 0 10px;
    }

    .cartitems-total {
        margin-right: 5%;
    }

    .cartitems-total button {
        width: 150px;
        font-size: 12px;
    }

    .cartitems-promobox {
        width: 70%;
    }

    .cartitems-promobox input {
        width: 40%;
    }

    .cartitems-promobox button {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .cartitems {
        margin: 30px 5%;
    }

    .cartitems-format-main {
        grid-template-columns: 1fr;
        gap: 10px;
        font-size: 14px;
    }

    .cartitems-remove-icon {
        margin: 0 5px;
    }

    .cartitems-total {
        margin-right: 5%;
    }

    .cartitems-total button {
        width: 120px;
        font-size: 12px;
    }

    .cartitems-promobox {
        width: 80%;
    }

    .cartitems-promobox input {
        width: 60%;
    }

    .cartitems-promobox button {
        width: 70%;
    }
}




