.loginsignup{
    width: 100%;
    height: 80vh;
    background: #490303;
    padding-top: 100px;
}

.loginsignup-container{
    width:580px;
    height: 600px;
    background: white;
    margin: auto;
    padding:40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0px;
    color: #490303;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap:29px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left:20px;
    border: 1px solid #c9c9c9;
    outline:none;
    color:#5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
   width:580px;
   height:72px;
   color:white;
   background: #490303;
   margin-top:30px;
    border:none;
    font-size:24px;
    font-weight: 500 ;
    cursor: pointer;
}

.loginsignup-login{
    margin-top:20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.loginsignup-login span{
    color:#490303;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap:20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .loginsignup-container {
        padding: 40px 10px; /* Adjusted padding for smaller screens */
    }
    .loginsignup-fields input {
        height: 40px; /* Decreased height for smaller screens */
        font-size: 14px; /* Decreased font size for smaller screens */
        width: 90%;
    }
    .loginsignup-container button {
        height: 40px; /* Decreased height for smaller screens */
        font-size: 18px; /* Decreased font size for smaller screens */
        margin-top: 15px; /* Adjusted margin for smaller screens */
    }
    .loginsignup-agree {
        font-size: 14px; /* Decreased font size for smaller screens */
    }
}
