
.price-range-dropdown {
    margin-top: 10px;
  }
  
  .price-range-dropdown select {
    width: 200px; /* Adjust width as needed */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .price-range-dropdown select:focus {
    outline: none;
    border-color: #007bff; /* Change color on focus */
  }
  
  /* Style options */
  .price-range-dropdown option {
    padding: 5px;
  }
  

.shopcategory-search {
    width: 600px;
    height: 45px;
    margin: 20px auto; /* Set left and right margins to auto */
    padding-left: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    border-radius: 40px;
  }
  
.shopcategory-indexSort{
    display: flex;
    margin:0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-loadmore{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:150px auto ;
   width:233px;
   height: 69px;
   border-radius: 75px;
   background: white;
   color: rgb(78, 7, 7);
   font-size: 20px;
   font-weight: 520;

}
.shopcategory-loadmore button:hover {
    background:  rgb(226, 226, 226);
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .shopcategory-banner,
    .shopcategory-indexSort,
    .shopcategory-products {
        margin: 30px 50px;
    }
}

@media screen and (max-width: 768px) {
    .shopcategory-banner,
    .shopcategory-indexSort,
    .shopcategory-products {
        margin: 30px 20px;
    }
    .shopcategory-products {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 40px;
    }
    .shopcategory-loadmore {
        margin: 50px auto;
    }
}

@media screen and (max-width: 480px) {
    .shopcategory-banner,
    .shopcategory-indexSort,
    .shopcategory-products {
        margin: 20px 10px;
    }
    .shopcategory-products {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .shopcategory-loadmore {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }
}


